<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <img src="https://github.com/m-mourouh/Animated-Login-Form-Using-Only-HTML-CSS-Sign-In-Form-Design/blob/master/Login_form/rocket.png?raw=true" alt="rocket" class="rocket">
        <div class="text">
            <h1>LOGIN</h1>
            <p>ARTICULOS</p>
        </div>
        <form  class="form">
            <div class="animated-input">
                <input type="text" placeholder="email" formControlName="email">
                <input type="password" placeholder="Password" formControlName="password">
            </div>
        </form>
        <button class="btn" type="submit" (click)="navegacion()" type="submit" [disabled]="form.invalid">INICIAR CESION</button>
    </div>
</body>